@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
		
/* CSS Reset */
h1, h2, h6,
figure, a, p, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
body {
    line-height: 1;
}
/* End CSS Reset */

body {
    color: #2e2e2e;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 300;
    letter-spacing: .02em;
}
.wrapper {
    margin: 0 auto;
    max-width: 900px;
    padding-left: 15px;
    padding-right: 15px;
}
p {
    font-size: 1.1rem;
}
h1 {			
    font-size: 2.5rem;
    font-style: normal;
    line-height: 48px;
}

/* Recipe styles */
.recipe__photo {
    margin-bottom: 2rem;
}
.recipe__photo__img {
    max-width: 100%;
}

.recipe__category {
    text-transform: uppercase;
}

.recipe__subtitle {
    padding: 1rem 0;
}
.recipe__widget__list {
    display: flex;
}

.recipe__content {
    margin: 3rem 0;
}

footer.main-footer {
    
}