@import url('https://fonts.googleapis.com/css?family=Noticia+Text:300,400,500');
		
/* CSS Reset */
h1, h2, h6,
figure, a, p, blockquote,
ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
body {
    line-height: 1;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* End CSS Reset */

section {
    margin-bottom: 2rem;
}
section h2 {
    font-size: 1.125rem;
    font-weight: 500;
    border-bottom: 2px solid var(--primary-color);
    display: inline-block;
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    text-transform: uppercase;
}

/* Color variables */
:root {
    --accent-color: #F55F5F;
    --text-color: #2e2e2e;
    --dark-color: #242424;
    --light-color: #4d4d4d;
    --lighter-color: #bbb;
    --line-color: #e6e6e6;
    --primary-color: #48C985;
}
body {
    color: var(--text-color);
    background-color: #fff;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 24px;
    margin: 0;
}
.wrapper {
    margin: 0 auto;
    max-width: 980px;
}
p {
    font-size: 1.1rem;
}
li {
    margin-bottom: 0.6rem;
}
.box {
    padding-left: 15px;
    padding-right: 15px;
}

/* ********************************* */
/* MOBILE */
/* ********************************* */

/* Recipe Overview Header */
.recipe__overview {
    display: flex;
    flex-direction: column;
}
.recipe__overview figure {
    margin-bottom: 1rem;
}
.recipe__photo {    
    position: relative;
}
.recipe__photo__img {
    max-width: 100%; 
}
.recipe__photo__icon::before {
    color: var(--accent-color);
    content: "\f004";
    cursor: pointer;
    font-family: 'Font Awesome\ 5 Free';
    font-size: 2rem;
    font-weight: 900;
    position: absolute;
    top: 20;
    left: 30;
    transition: all .2s ease-in-out;
}
.recipe__photo__icon:hover::before {
    color:var(--primary-color);
    transform: scale(1.3);
}
.recipe__breadcrumb {
    color: var(--light-color);
    font-size: 80%;
    font-weight: 500;
    text-transform: uppercase;
}
h1.recipe__heading {			    
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}
.recipe__rating__list {
    color: var(--accent-color);
    margin-bottom: .5rem;
}
.recipe__rating__item {
    cursor: pointer;
    padding-right: .5rem;
    transition: all .2s ease-in-out;
}
.recipe__rating__item:hover {
    color:var(--primary-color);
    transform: scale(1.5);
}
.recipe__rating__text {
    color: var(--light-color);
    font-weight: 400;
    padding-left: 1rem;
}
.recipe__text {    
    padding: 0.5rem 0 1.5rem;
    display: none;
}
.recipe__text__landscape {
    padding-top: 2rem;
}
.recipe__widget__list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-color);
    margin-top: 2rem;
    padding-bottom: 1rem;
}
ul.ingredients__list {
    list-style-type: square;
    margin-left: 1rem;
}
ul.directions__list {
    /* reset the counter */
    counter-reset: steps;
    margin-bottom: 2.8rem;
    list-style-position: outside;
}
.directions__list li::before {     
    counter-increment: steps;                 
    /* increment value of steps counter by 1 */
    content: counter(steps);
    background-color: var(--primary-color);
    color: #fff;
    display: inline-block;
    float: left;
	font-size: 1.25rem;
	width: 40px;
	height: 40px;
    border-radius: 50%;
    line-height: 40px;
	margin-right: 15px;
	text-align: center;
}
/* reset float:left above */
.directions__list li::after {
    display: table;
	content: "";
	clear: both;
}
.directions__text {
    float: left;
    width: calc(100% - 55px);
}
.recipe__widget__item {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.recipe__widget__icon {
    color: var(--primary-color);
    font-size: 2rem;
    padding-bottom: 0.7rem;
}

/* Recipe Main Content */
.recipe__prep-info {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}
.recipe__ingredients,
.recipe__directions {
    padding-right: 2rem;
}

.share__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.share__item {
    padding-right: .8rem;
}
.share__item .fab {
    font-size: 2rem;
}
.share__item a {
    color: var(--dark-color);
    text-decoration: none;
}
.share__item a:hover {
    color: var(--accent-color);
}

.main-footer {
    background-color: var(--dark-color);
    color: var(--lighter-color);
    padding: 3rem 0;
    text-align: center;
}
.footer__copyrights {
    margin-bottom: 2rem;
}
.main-footer p {
    font-size: 90%;
    padding: 0 2rem;
}
.main-footer a {
    color: white;
    text-decoration: none;
}
.main-footer a:hover {
    text-decoration: underline;
}
.footer__heading {
    color: var(--primary-color);
    margin-top: 1rem;
    text-transform: uppercase;
}

/* ********************************* */
/* LANDSCAPE */
/* ********************************* */
@media (min-width: 576px) {
    .recipe__overview {
        display: flex;
        flex-direction: row;
    }
    .recipe__overview figure {
        margin-bottom: 0;
    }
    .recipe__photo {
        flex: 1;
    }
    .recipe__summary {
        padding-left: 2rem;
        padding-top: 2rem;
        flex: 1;
        border: 1px solid var(--line-color);
    }
    .recipe__widget__list {
        border: 0;
        padding-right: 1rem;
    }
}

/* ********************************* */
/* DESKTOP */
/* ********************************* */
@media (min-width: 768px) {
    body {
        padding-top: 1rem;
    }
    .recipe__photo__img {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    h1.recipe__heading {	
        font-size: 2.125rem;
    }
    .recipe__text {
        display: block;
    }
    .recipe__text__landscape {
        display: none;
    }
    .recipe__widget__list {
        
    }
    .recipe__widget__item {    
        flex-direction: row;
        align-items: baseline;
    }
    .recipe__widget__icon {
        padding-right: 0.375rem;
    }
    .recipe__prep-info {
        flex-direction: row;
    }
    .recipe__ingredients {
        flex: 1;
    }
    .recipe__directions {
        flex: 1;
    }
}    